body {
  margin: auto;
  /* background-color: #212529; */
  background-color: #222222;
  overflow-x: hidden;
  padding-right: 0px;
}

h1, h2, h4, h5, h6, p {
  color: white;
}

h3 {
  color: white;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.header {
  padding: 3% 15% 2%;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.title-string {
  font-family: "Poppins", Helvetica, sans-serif;
}

/* HEADER SECTION */
.logo-symbol {
  background-color: #007ced;
  float: left;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 100px;
  text-align: center;
  color: #fff;
  font-size: 28px;
  font-weight: 800;
  margin-right: 8px;
  margin-top: 4px;
  font-family: "Poppins", Helvetica, sans-serif;
}

.logo-text {
  color: #fff;
  position: relative;
  float: left;
  line-height: 50px;
  font-size: 20px;
  font-weight: 600;
  padding-left: 5px;
}

.logo-text span {
  font-weight: 400;
}

.logo-text, .logo-symbol {
  font-family: "Poppins", Helvetica, sans-serif;
}

.nav-link {
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 400;
  color: white;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav-link:hover {
  color: #007ced;
  font-size: 1.05rem;
}

.nav-item {
  padding: 0 18px;
}

/* ABOUT SECTION */
.content-area {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
}

.home-content {
  margin: 0% 3% 0% 15%;
}

.home-photo {
  background-color: #444;
  border: 18px solid #444;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.8);
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: calc(100% - 36px);
  border-radius: 1000px;
  /* border: 18px solid #fff; */
  overflow: hidden;
}

.home-photo .hp-inner {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://source.unsplash.com/user/erondu/1024x1024");
  /* background-position: calc(85%) calc(60%); */
  height: auto;
  /* display: block; */
  position: absolute;
  top: -18px;
  bottom: -18px;
  width: auto;
  left: -18px;
  right: -18px;
}

.home-text {
  color: white;
  font-family: 'Roboto';
  margin-top: 8%;
  text-align: left;
  padding-right: 25%;
  margin-left: 45px;
}

.home-text h5 {
  font-weight: lighter;
  letter-spacing: 1px;
}

.home-text h1 {
  font-weight: 500;
  letter-spacing: 1px;
}

.btn-primary, .btn-secondary {
  font-family: "Poppins";
  color: #fff;
  background-color: #333;
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, .78);
  display: inline-block;
  position: relative;
  padding: .8em 2.1em;
  margin-bottom: .75em;
  margin-right: .25em;
  font-size: 1em;
  line-height: 1.2;
  /* border: 0; */
  outline: 0;
  border: 2px solid #007ced;
  /* color: #222; */
  text-shadow: none;
  /* background-color: #fff; */
  border-radius: 30px;
  /* Color Fades Transitions */
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn-secondary {
  border: 2px solid #fff;
}

/* Skills Section */
.services {
  margin-top: 5%;
}

.page-title .title-string {
  letter-spacing: 2px;
}

.section-title h1 {
  display: inline-block;
  position: relative;
}


.page-title {
  display: block;
  position: relative;
  background-color: #fdfdfd;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  padding: 4% 7% 4% 6%;
  text-align: left;
  background-color: #252525;
  border-top-color: #333333;
  border-bottom-color: #333333;
}

.page-title h1 {
  font-size: 44px;
  font-family: "Poppins", Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
}

.feature-box {
  padding: 3% 7% 4% 7%;
}

.feature-box h3 {
  font-family: "Poppins", Helvetica, sans-serif;
}

.icon {
  color: #007ced;
}

/* Resume Section */
.block-title {
  padding-top: 3%;
}

.block-title h2 {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  margin: auto;
}

.item-period {
  border: solid 2px #007ced;
  border-radius: 30px;
  box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, .78);
  font-size: 0.9rem;
  margin: auto;
  text-align: center;
  padding: 12px;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  line-height: 23px;
  position: relative;
  letter-spacing: 2px;
}

.study-box {
  padding: 3% 10% 4% 7%;
}

.study-box-digital {
  padding: 3% 5% 4% 7%;
}

.before-after {
  position: relative;
}

.before-after::after {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  /* left: -10px; */
  bottom: -15px;
  background-color: #333333;
}

.working-experience {
  padding: 3% 7% 4% 7%;
}

.degree-title {
  margin-top: 10px;
  font-size: 1rem;
  color: #666;
}

.resume-location-h3 {
  color: #007ced;
  display: inline-block;
  font-size: 1rem;
  margin: auto;
  padding-left: 10px;
  position: relative;
}

.block-title {
  /* padding: 5% 15% 5% 15%; */
  position: relative;
}

.block-title h2::before {
  content: '';
  display: block;
  position: absolute;
  background-color: #666666;
  width: 100%;
  height: 2px;
  bottom: -10px;
}

.block-title h2::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #007ced;
  /* width: 100%; */
  height: 2px;
  bottom: -10px;
}


.progress-bar-text {
  /* border: solid 2px #fff; */
  color: white;
  margin-top: 2%;
  padding: 3% 13% 3% 13%;
}

.percentage-span {
  padding-bottom: 2%;
}

.meter {
  height: 10px;
  position: relative;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border: solid 1px #666;
  border-radius: 25px;
  padding: 2px;
}

.meter > span {
  display: block;
  height: 100%;
  border-radius: 5px;
  background-color: #007ced;
  position: relative;
  overflow: hidden;
}

/* Skills Percentages */

.skills, .administration-skills, .languages {
  padding: 5% 0 5% 0;
}

.percentage-text {
  display: inline-block;
  text-align: right;
}

.meter .percentage-20 {
  width: 20%;
}

.meter .percentage-30 {
  width: 30%;
}

.meter .percentage-40 {
  width: 40%;
}

.meter .percentage-50 {
  width: 50%;
}

.meter .percentage-55 {
  width: 55%;
}

.meter .percentage-60 {
  width: 60%;
}

.meter .percentage-75 {
  width: 75%;
}

.meter .percentage-80 {
  width: 80%;
}

.meter .percentage-85 {
  width: 85%;
}
/* End Skills Percentages */

/* Languages Percentages */

.meter .percentage-100 {
  width: 100%;
}

.meter .percentage-70 {
  width: 70%;
}

.meter .percentage-75 {
  width: 75%;
}

.meter .percentage-50 {
  width: 50%;
}

.meter .percentage-40 {
  width: 40%;
}

/* Contact Section */

.contact-details {
  /* margin: 5% 25% 5% 25%; */
  padding: 5% 25% 5% 25%;
}

.contact-text {
  padding-top: 15px;
}

.icon-text {
  font-family: 'Poppins';
  padding-top: 10px;
}

/* Footer */

.footer {
  /* display: block;
  position: relative; */
  background-color: #fdfdfd;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  padding: 4% 7% 4% 6%;
  background-color: #252525;
  border-top-color: #333333;
  border-bottom-color: #333333;
}

.social-icon {
  margin: 30px 20px;
}

.feature-box:hover {
  transition-timing-function: background-color 0.5s ease-in-out;
  background-color: #333333;
  color: #f2f2f2;
  
}

.table-header-string {
  font-size: 1.5rem;
}
